.homepage{

    #MainSection{
        background-image: url("../img/home_main.png");
        min-height: 800px;
        background-size: auto;
    }
    
    #MainSection .contenido{
        padding: 100px;
        padding-top: 300px;
    }
    
    #MainSection .contenido .titulo{
        font-family: 'gothamblack';
        color: white;
        font-weight: bold;
        font-size: 4rem;
    }
    
    #MainSection .contenido .subtitulo{
        font-family: 'origo_promedium';
        color: white;
    }

    #MainSection .botones a{
        font-family: 'gothambold';
    }
    
    #SecondSection{
        background-image: url("../img/home_second.png");
        min-height: 300px;
        background-size: auto;
        color: white;
        padding: 100px 0;
        text-align: center;
    }
    
    #SecondSection .subtitulo h2{
        font-family: 'origo_prosemibold';
        font-size: 2.5rem;
    }
    
    #SecondSection .descripcion{
        font-family: 'gothamlight';
        font-size: 1.5rem;
    }

    #SecondSection .flecha-abajo{
        display: inline-block;
        width: 70px;
        margin-top: 50px;
    }

    #SecondSection .flecha-abajo img{
        width: 100%;
    }
    
    #ThirdSection{
        background-color: $third_color;
        color: white;
        padding: 10px;
    }
    
    #ThirdSection h3{
        font-family: 'gothamblack' !important;
    }
    
    #FourthSection > div{
        min-height: 400px;
        color: white;
    }
    
    #FourthSection > div .bloque{
        background-color: black;
        padding-top: 100px !important;
        width: 20%;
    }
    
    #FourthSection > div .bloque h4{
        font-family: 'origo_proextrabold';
        font-weight: bold;
        margin-bottom: 0;
        text-align: center;
        position: relative;
    }
    
    // #FourthSection > div .bloque img{
    //     position: absolute;
    //     top: 0;
    //     opacity: 0.5;
    // }

    #FourthSection > div .bloque hr{
        margin-bottom: 0.5rem;
        margin-bottom: 0.5rem;
        background-color: $secondary_color;
        width: 40%;
        height: 1px;
        position: relative;
    }

    #FourthSection > div .bloque p{
        font-family: 'gothambold';
        text-align: center;
        position: relative;
    }
    
    #FourthSection > div .bloque1::before
    {
        content: "";
        background-image: url("../img/HOME_FOTO1.png");
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 80%;
        bottom: 0px;
        left: 0px;
        opacity: 0.5;
    }
    
    #FourthSection > div .bloque2::before{
        content: "";
        background-image: url("../img/HOME_FOTO2.png");
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 60%;
        bottom: 0px;
        left: 20%;
        opacity: 0.5;
    }
    
    #FourthSection > div .bloque3::before{
        content: "";
        background-image: url("../img/HOME_FOTO3.png");
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 40%;
        bottom: 0px;
        left: 40%;
        opacity: 0.5;
    }
    
    #FourthSection > div .bloque4::before{
        background-image: url("../img/HOME_FOTO4.png");
        content: "";
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 20%;
        bottom: 0px;
        left: 60%;
        opacity: 0.5;
    }
    
    #FourthSection > div .bloque5::before{
        background-image: url("../img/HOME_FOTO5.png");
        content: "";
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0;
        bottom: 0px;
        left: 80%;
        opacity: 0.5;
    }

    #FourthSection > div .bloque:hover::before{
        opacity: 1;
        z-index: 1;
    }
    
    #FifthSection{
        background-image: url("../img/home_fifth.png");
        color: white;
        min-height: 350px;
        padding: 50px;
    }
    
    #FifthSection .titulo{
        font-family: 'gothambook';
        font-size: 1.8rem;
        line-height: 1.5;
    }
    
    #FifthSection .derecha{
        padding-top: 35px;
        padding-left: 20px;
    }
    
    #SixthSection{

        background-color: $third_color;
        
        h4{
            font-family: 'gothambold';
            // font-weight: bold;
            font-size: 1.6rem;
        }

        ul{
            padding-left: 0;
        }
    
        ul > li{
            font-family: 'gothamlight';
            list-style: none;
        }
    
        ul > li::before{
            content: '';
            background-image: url("../img/home_row.png");
            height: 15px;
            width: 30px;
            display: inline-block;
            background-size: cover;
            margin-right: 10px;
        }
        
        div{
            min-height: 500px;
            color: white;
        }

        div .bloque{
            width: 100%;
            padding-top: 100px !important;
        }
        
        div .bloque1{
            background-color: $third_color;
            font-size: 1.5rem;
            padding-left: 100px !important;
        }
        
        div .bloque2{
            background-image: url("../img/HOME_SERIVICIOS.png");
        }
    }

    
    #SeventhSection{
        background-image: url("../img/home_white.png");
        color: $third_color;
        font-size: 1.5rem;
        min-height: 600px;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    
    #SeventhSection .titulo h3{
        font-family: 'origo_proextrabold';
        color: $secondary_color;
        font-size: 3rem !important;
    }

    #SeventhSection .descripcion{
        font-family: 'gothambook';
    }
    
    #SeventhSection .fila{
        min-height: 200px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
    #SeventhSection .bloque{
        // width: 20%;        
        // position: relative;
        text-align: center;
        // padding: 1em !important;
        // padding-top: 3em !important;
    }

    // #SeventhSection .bloque:hover{
    //     background-color: $dark_blue;
    // }

    #SeventhSection .bloque > div{
        background-color: $dark_blue;
        height: 200px;
        width: 200px;
        padding: 1em;
        color: white;
        position: relative;
    }

    #SeventhSection .bloque > div hr{
        border: 1px solid $secondary_color;
        margin: 0 !important;
        margin-top: 100px !important;
    }

    #SeventhSection .bloque span{
        font-size: 14px;
    }

    #SeventhSection .bloque > div:hover{        
        background-image: url("../img/background.png");
        background-color: transparent;
    }

    #SeventhSection .bloque > div:hover img{
        position: relative;
        width: 100px;
        position: relative;
        width: 100px;
        height: auto;
        border-radius: 0;
        background-color: transparent;
    }

    #SeventhSection .bloque > div:hover hr{
        margin: 0 !important;
    }

    // #SeventhSection .bloque > div:hover span{
    //     // display: none;
    // }

    // #SeventhSection .bloque > div:hover a{
    //     // display: none;
    // }

    #SeventhSection .bloque > div img{        
        background-color: #06038d;
        height: 150px;
        width: 150px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0; 
        top: 0;
        margin-bottom: auto; 
        margin-left: auto; 
        margin-right: auto; 
        margin-top: auto; 
        border-radius: 50%;
        z-index: 999;
    }
    
    #SeventhSection .bloque > div::before{
        content: '';
        // background-image: url("../img/LOGO_HOME.png");
        position: absolute;
        z-index: 1;
        left: 0;
        height: 200px;
        width: 200px;
        top: 0;
        background-color: $dark_blue;
        border-radius: 50%;
    }

    #SeventhSection .bloque > div:hover::before{
        content: '';
        // opacity: 0;
        width: 0;
        height: 0;
    }
    
    #EighthSection{
        background-image: url("../img/home_blue.png");
        color: $white;
        font-size: 1.5rem;
        min-height: 400px;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    
    #EighthSection .titulo h3{
        font-family: 'origo_proextrabold';
        color: $light_blue;
        font-size: 3rem !important;
    }

    #EighthSection .descripcion{
        font-family: 'gothambook';
    }

    #carouselExampleCaptions{
        height: 400px;
    }
}