@media (max-width: 991px) {

    .navbar-brand{
        width: 100px;
        left: auto !important;
        right: 0 !important;
    }

    .navbar-collapse{
        background-color: $third_color;
        z-index: 999;
    }
}

// @media (min-width: 992px) {

//     .navbar-brand{
//         width: 200px;
//     }
// }